.user-popover .user-menu-popover-bonus-item .title-item .count-item {
  color: var(--grey);
}
.user-popover .user-menu-popover-bonus-item .rotate90 {
  transform: rotate(90deg);
}
.user-popover .user-menu-popover-bonus-item .rotate0 {
  transform: rotate(0deg);
}
.vip-container {
  justify-content: space-between;
}
.vip-container .vip-item .vip-active {
  color: green;
}
.vip-container .vip-item .vip-no-active {
  color: red;
}
