.popover-conteiner-freespin-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.popover-conteiner-freespin-content .count-freespin-conteiner {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 24px;
  width: 304px;
  height: 66px;
  background-color: var(--modal-header-bg);
}
.popover-conteiner-freespin-content .count-freespin-conteiner .name-free-spins {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: var(--section-message-text);
}
.popover-conteiner-freespin-content .count-freespin-conteiner .count-tickets {
  font-size: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  text-align: right;
  color: var(--green);
}
@media  ( min-width: 3400px )  {
  .popover-conteiner-freespin-content {
    align-items: center;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner {
    margin-bottom: 48px;
    padding: 32px;
    gap: 40px;
    width: 606px;
    height: 124px;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner .name-free-spins {
    font-size: 32px;
    line-height: 38px;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner .count-tickets {
    font-size: 48px;
    line-height: 60px;
  }
}
@media  ( max-width: 768px )  {
  .popover-conteiner-freespin-content {
    align-items: center;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner {
    margin-bottom: 24px;
    height: 62px;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner .name-free-spins {
    font-size: 14px;
    line-height: 20px;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner .count-tickets {
    font-size: 20px;
    line-height: 30px;
  }
}
@media  ( max-width: 450px )  {
  .popover-conteiner-freespin-content {
    align-items: center;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner {
    width: calc( 100vw - 32px );
    margin-bottom: 24px;
    height: 62px;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner .name-free-spins {
    font-size: 14px;
    line-height: 20px;
  }
  .popover-conteiner-freespin-content .count-freespin-conteiner .count-tickets {
    font-size: 20px;
    line-height: 30px;
  }
}
